@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base {
  body{
    @apply font-['El_Messiri']
  }
}
.content-div{
  background-repeat: no-repeat;
  /* background-size: cover; */
  object-fit: contain;
  background-clip: border-box;
  background-size: contain;
  background-position: center;
  height: 250px;
}
.content-div:hover{
  background-image: linear-gradient(to right, rgba(112,157,255,0.8), hsla(242, 74%, 61%, 0.9))!important;

}